TRAB1-1/Debug/
TRAB1-1/TRAB1-1.vcxproj
TRAB1-1/TRAB1-1.vcxproj.filters
TRAB1-1/TRAB1-1.vcxproj.user

TRAB1-2/Debug/
TRAB1-2/TRAB1-2.vcxproj
TRAB1-2/TRAB1-2.vcxproj.filters
TRAB1-2/TRAB1-2.vcxproj.user

*.opensdf
*.sdf
*.sln
*.ilk
*.pdb
*.vcxproj
*.suo


